/* CSS styling for the UV index display
    All other styling done with Bootstrap */

.mild {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}